---
title: トップページ
description: ページ概要がはいります。
---
{% extends 'base.njk' %}

{% block main -%}
<h2>トップページのコンテンツ</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
Adipisci tempora asperiores earum, <br>
aspernatur pariatur officia cumque mollitia quos ab sapiente porro nulla cupiditate. <br>
Animi unde voluptatibus hic aspernatur deleniti minima.</p>
{%- endblock %}