<!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">{{ site.name }}</a>
      <a class="btn btn-primary" href="#">Button</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">{{ site.name }}</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-4 offset-md-4">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Button</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>